<h2>Account ID: <%= @agent.account_id %></h2>
<h2>Symbol: <%= @agent.symbol %></h2>
<h2>Headquarters: <%= @agent.headquarters %></h2>
<h2>Credits: <%= @agent.credits %></h2>
<h2>Starting Faction: <%= @agent.starting_faction %></h2>
<h2>Ship Count: <%= @agent.ship_count %></h2>

<%= link_to "Delete", agent_path(name: @agent.symbol), data: { turbo_method: :delete } %>
