<!DOCTYPE html>
<html>
  <head>
    <title>SpaceTrader</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <ul>
      <li><%= link_to current_agent_symbol, agent_path %></li>
      <li><%= link_to "Contracts", contracts_path %></li>
      <li><%= link_to "Ships", ships_path %></li>
    </ul>
    <hr>
    <%= yield %>
  </body>
</html>
